<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DeliverySystem</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.html</welcome-file>
    <welcome-file>jsp/index.htm</welcome-file>
    <welcome-file>jsp/index.jsp</welcome-file>
    <welcome-file>jsp/default.html</welcome-file>
    <welcome-file>jsp/default.htm</welcome-file>
    <welcome-file>jsp/default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>delivery</display-name>
    <servlet-name>delivery</servlet-name>
    <servlet-class>com.mikkysoft.servlet.DeliveryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delivery</servlet-name>
    <url-pattern>/delivery</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>DeliveryApp</web-resource-name>
      <url-pattern>/delivery/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ZONE</role-name>
      <role-name>SECTOR</role-name>
      <role-name>UNIT</role-name>
      <role-name>ADMIN</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>ZONE</role-name>
  </security-role>
  <security-role>
    <role-name>SECTOR</role-name>
  </security-role>
  <security-role>
    <role-name>UNIT</role-name>
  </security-role>
  <security-role>
    <role-name>ADMIN</role-name>
  </security-role>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login.html</form-login-page>
      <form-error-page>/error.html</form-error-page>
    </form-login-config>
  </login-config>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.mikkysoft.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/delivery/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.mikkysoft.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>